<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карточка нового фильма</title>
</head>
<body>
<form action="save_new_film">
  <p> name: <input type="text" name="name"/> </p>
  <p> genre: <input type="text" name="genre"/> </p>
  <p> year: <input type="text" name="year"/> </p>
    <p> director: <input type="text" name="director"/> </p>

  <button type="submit">сохранить</button>
  <button type="button" onclick="location.href='catalog';">Отменить</button>
</form>
</body>
</html>